/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* home section styling */

.home .home-img img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  right: 8%;
  bottom: 20%;
  border-bottom: 10px solid rgb(203, 131, 156);
  border-right: 10px solid rgb(203, 131, 156);
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  top: 13%;
  left: 66%;
  border-top: 10px solid rgb(203, 131, 156);
  border-left: 10px solid rgb(203, 131, 156);
}
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.name {
  font-weight: 700;
  color: rgb(203, 131, 156);
  font-family: "Times New Roman", Times, cursive;
}

.typing {
  color: rgb(203, 131, 156);
}
.btn-blog {
  font-size: 16px;
  background-color: rgb(203, 131, 156);
  color: white;
  border-radius: 40px;
  padding: 12px 13px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.3s ease;
  border: none;
}
.btn-blog:hover {
  transform: scale(1.05);
  color: white;
}

/* about section styling  */

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  /* background-color: rgb(203, 131, 156); */
}
.section-title h2 {
  font-size: 3.05rem;
  color: rgb(30, 28, 28);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: rgb(203, 131, 156);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: rgb(203, 131, 156);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.about .about-content{
  flex: 0 0 100%;
  max-width: 100%;
  /* background-color: rgb(203, 131, 156); for check */
}
.about .about-content .about-text{
  flex: 0 0 100%;
  max-width: 100%;
  /* background-color: rgb(203, 131, 156); */
}
.about .about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: rgb(30, 28, 28);
}
.about .about-content .about-text h3 span{
  color: rgb(203, 131, 156);
}
.about .about-content .about-text p{
  font-size: 16px;
  color: rgb(30, 28, 28);
  line-height: 1.8;
}
.personal-info{
  flex: 0 0 60%;
  max-width: 60%;
  /* background-color: rgb(203, 131, 156); */
}
.skills{
  flex: 0 0 40%;
  max-width: 40%;
  /* background-color: rgb(124, 91, 103); */
}
.info-item{
  flex: 0 0 60%;
  max-width: 60%;
  /* background-color: rgb(203, 131, 156);  */
}
.personal-info .info-item p{
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  color: rgb(30, 28, 28);
border-bottom: 1px solid rgb(203, 131, 156);
}
.personal-info .info-item p span{
  color: rgb(203, 131, 156);
  font-weight: 400;
  margin-left: 4px;
  display: inline-block;
}
.personal-info .buttons .btn-blog{
  margin-right: 15px;
}
.skills .skill-item{
  flex: 0 0 100%;
  max-width: 100%;
   /* background-color: rgb(203, 131, 156);  */
}
.skills .skill-item h5{
  font-size: 16px;
  font-weight: 600;
  color: rgb(30, 28, 28);
  /* margin-bottom: 15px; */
  line-height: 40px;
  text-transform: capitalize;
}
.skills .skill-item .progress-bar{
  width: 100%;
  background-color: rgb(146, 137, 140);  
height: 7px;
border-radius: 4px;
position: relative;
}
.skills .skill-item{
  margin-bottom: 25px;
}
.skills .skill-item .progress-bar .progress-bar-fill{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(203, 131, 156);  
}
.skill-percent{
  position: absolute;
  right: 120px;
  /* top: 0px; */
  font-weight: 600;
  color: rgb(30, 28, 28);
}
.education ,
.experience{
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 50px;
  /* background-color: rgb(203, 131, 156);  */
}
/* .experience{
  background-color: rosybrown;
} */
h3 .title{
  font-size: 24px;
  font-weight: 700;
  color: rgb(30, 28, 28);
  margin-bottom: 30px;
}
.timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
   /* background-color: rgb(203, 131, 156);   */
}
.timeline{
  padding: 30px 15px;
  /* background-color: rgb(241, 235, 237);   */
  background-color: rgb(252, 243, 226);
  border: 1px solid rgb(239, 235, 227);
border-radius: 10px;
width: 100%;
position: relative;
}
.shadow-dark{
  box-shadow: 0px 0px 20px rgba(48, 46, 77, 0.15);
}
.timeline .timeline-item{
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.timeline .timeline-item:last-child{
  padding-bottom: 0;
}
.timeline .timeline-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  width: 2px;
  height: 100%;
  background-color: rgb(203, 131, 156);
  border-radius: 10px;
}
.timeline .circle-dot{
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(203, 131, 156);
}
.timeline .timeline-date{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #4b4d53;
}
.timeline .timeline-date .bi{
  margin-right: 5px;
}
.timeline .timeline-title{
  font-weight: 700;
  font-size: 18px;
margin-bottom: 15px;
text-transform: capitalize;
  color: rgb(30, 28, 28);
}
.timeline .timeline-text{
  font-size: 16px;
  color: rgb(30, 28, 28);
  line-height: 1.8;
  text-align: justify;
}


/* service */

.service .service-item{
  margin-bottom: 30px;
  flex: 0 0 33.33%;
max-width: 33.33%;
}
.service .service-item .service-item-inner{
  background-color: rgb(252, 243, 226);
  border: 1px solid rgb(239, 235, 227);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover{
  box-shadow: 0px 0px 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon{
  height: 60px;
  width: 60px;
  display: block;
  border-radius: 50%;
  margin: 0 auto 30px;
text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa{
  font-size: 40px;
  line-height: 60px;
  color: rgb(203, 131, 156);
  transition: all 0.3s ease;

}
.service .service-item .service-item-inner:hover .icon{
  background: rgb(203, 131, 156);
}
.service .service-item .service-item-inner:hover .icon .fa{
  font-size:40px; 
  /* padding: 2px 0; */
  color: #ffffff;
}
.service .service-item .service-item-inner h4{
  font-size: 18px;
  margin-bottom: 15px;
  color: #4b4d53;
  font-weight: 700;
  text-transform: capitalize;

}
.service .service-item .service-item-inner p{
  font-size: 16px;
  color: #686a6e;
  line-height: 1.8;
  text-align: justify;
}


/* contact  */

.contact-title{
color: rgb(203, 131, 156);
}
.contact .contact-infoItem{
  flex: 0 0 25%;
  max-width: 25%;
}
.contact .contact-infoItem .icon{
  display: inline-block;
}
.contact .contact-infoItem .icon .fa{
  font-size: 25px;
  color: rgb(203, 131, 156);
}
.contact .contact-infoItem h4{
  font-size: 18px;
  font-weight: 700;
  color: #686a6e;
text-transform: capitalize;
margin: 15px 0 5px;
}
.contact .contact-infoItem p{
  font-size: 16px;
  line-height: 1.8;
  color: #686a6e;
  font-weight: 400;
}
.contact .contactForm{
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contactForm .formItem{
  margin-bottom: 30px;
}
.contact .contactForm .formItem .form-control{
  height: 50px;
  max-width: 100%;
  border-radius: 25px;
  background-color: rgb(252, 243, 226);
  border: 1px solid rgb(239, 235, 227);
padding: 10px 25px;
font-size: 16px;
  color: #686a6e;
  transition: all 0.3s ease;
}
.contact .contactForm .formItem .form-control:focus{
  box-shadow: 0px 0px 20px rgba(48, 46, 77, 0.15);

}
.contact .contactForm .formItem textarea.form-control{
  height: 140px;
}
.contact .contactForm .btn-blog{
  height: 50px;
  padding: 0 50px;
}

/* portfolio */

.portfolio .portfolio-heading{
flex: 0 0 100%;
max-width: 100%;
margin-bottom: 40px;
}
.portfolio .portfolio-heading h2{
  color: #686a6e;
font-weight: 500;
}
.portfolio .portfolio-item{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}
.portfolio .portfolio-item-inner{
  border: 6px solid rgb(239, 235, 227);
border-radius: 10px;
overflow: hidden;
cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img{
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
display: block;
}
/* navbar */

.header-primary {
    box-shadow: 0.1em 0.1em 0.2em 0em #5568f122 !important;
    max-height: fit-content !important;
}
.navbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
margin-bottom: 0!important;
    margin-top: 0!important;
    padding-bottom: 0;
    padding-top: 0;
}
.plx-navbar {
    padding-left: 0;
}
.navbar-brand {
    font-size: 1.25rem;
    margin-right: 1rem;
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
    text-decoration: none;
    white-space: nowrap;
}
.text-blog {
  color: rgb(203, 131, 156);

}
.blog-clr{
  color: rgb(203, 131, 156);
}
.img-fluid {
    height: auto;
    max-width: 100%;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
/* .me-auto {
    margin-right: auto!important;
}
.pt-0 {
    padding-top: 0!important;
}
.pb-0 {
    padding-bottom: 0!important;
} */
.nav-item {
    margin: 0!important;
    padding: 0!important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link, .nav-link:hover {
    font-size: large;
    font-weight: 400;
}
.nav-link {
    border-bottom: 2px solid #fff;
    color: #423f3f!important;
    font-family: Inter,sans-serif!important;
    margin-top: 0;
    margin: 0!important;
    padding: 17px 25px!important;
}

 .nav-link-primary {
    /* color: #423f3f !important;
    border-bottom: 2px solid #fff !important; */
}
.active-primary {
    border-bottom: 2px solid  rgb(203, 131, 156);
    color:  rgb(203, 131, 156)!important;
}
